
.blogItems{
    border-bottom: 1px solid black;
    margin-bottom: 10px;
}
.blogItems h3{
    cursor: pointer;
    color:#0d0acc;
    font-size: 2rem;

}
.btn{
    cursor: pointer;
    margin: 5px 0;
    background-color: rgb(55, 54, 54);
    padding: 2px 5px;
    border-radius: 5px;
    color: white;
  }
  
.blogItems a{
    text-decoration: none;

}
.blogItems p{
    font-size: 1.2rem;
}

.blogs{
    margin:auto;
}

.main {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    width: 80%;
    margin: auto;
  }


 @media screen and (max-width:600px){
    .main{
        width: 90%;
    }
    .blogItems p{
        font-size: 1rem;
    }
    .blogItems h3{
        font-size: 1.7rem;
    
    }
 }