.main {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  /* min-height: 100vh; */
}
.myimg{
  margin-top: 20px;
  border-radius:50%;

}
.description {
  font-size: 1.2rem;
  width: 100%;
  text-align: center;
  margin: 1rem;
  max-width: 1000px;

}
.h2{
  font-size: 2rem;
}

.head{
  font-size: 3rem;
  margin-bottom: 20px;
}
.btn{
  cursor: pointer;
  background-color: rgb(55, 54, 54);
  padding: 2px 5px;
  border-radius: 5px;
  color: white;
}
.blogs{
  width: 70%;
}
/* Enable hover only on non-touch devices */
@media (hover: hover) and (pointer: fine) {
  .card:hover {
    background: rgba(var(--card-rgb), 0.1);
    border: 1px solid rgba(var(--card-border-rgb), 0.15);
  }

  .card:hover span {
    transform: translateX(4px);
  }
}

@media (prefers-reduced-motion) {
  .card:hover span {
    transform: none;
  }
}

/* Mobile */
@media (max-width: 800px) {
  .content {
    padding: 4rem;
  }

  .grid {
    grid-template-columns: 1fr;
    margin-bottom: 120px;
    max-width: 320px;
    text-align: center;
  }
  .description{
    font-size: 1rem;
    width: 90%;
  }
  .card {
    padding: 1rem 2.5rem;
  }

  .card h2 {
    margin-bottom: 0.5rem;
  }

  .center {
    padding: 8rem 0 6rem;
  }

  .center::before {
    transform: none;
    height: 300px;
  }


  .description a {
    padding: 1rem;
  }

  
  
  .blogs{
    width: 95%;
  }
}

/* Tablet and Smaller Desktop */
@media (min-width: 701px) and (max-width: 1120px) {
  .grid {
    grid-template-columns: repeat(2, 50%);
  }
}

@media (prefers-color-scheme: dark) {
  .vercelLogo {
    filter: invert(1);
  }

  .logo {
    filter: invert(1) drop-shadow(0 0 0.3rem #ffffff70);
  }
}

@keyframes rotate {
  from {
    transform: rotate(360deg);
  }
  to {
    transform: rotate(0deg);
  }
}


.mainnav{
  display: flex;
  justify-content: center;
}
.mainnav ul{
  display: flex;

}

.mainnav ul li{
  list-style: none;
  margin:10px 20px;
  font-size: 1.2rem;
  
}

.mainnav ul li a {
  text-decoration: none;
  font-weight: bold;
  color:purple;
}